.ce_posts_container
{
    width:20%;
    border:1px solid lightgray;
    border-radius : 10px;
    height:500px;
    background-color:white;
    display:flex;
    overflow-y:auto;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.post_CE
{
    border:1px solid lightblue;
    background-color:rgba(211, 211, 211, 0.168);
    margin-bottom : 20px;  
    position:relative;
    width:98%;
    p
    {
        margin:5px 5px;
        text-align:center;
    }
}
h2
{
    text-align:center;
}
.date_ce
{
    width:95%;
    margin:auto;
    font-size:80%;
    font-weight:bold;
}
.administration_ce
{
    bottom:0px;
    width:100%;
    margin:0px; 
    display:flex;
    justify-content: flex-end;
    margin-top:10px;
}
i
{
    font-size:15px;
    margin-right:10px;
}
i:hover
{
    cursor:pointer;
}
textarea
{
    background-color:rgba(211, 211, 211, 0.355);
    width:calc(100% - 2px);
    border:1px solid black;
}
.envoiAnnonce
{
  width:98%;
  margin:auto;  
}
.refresh_button
{
    position:absolute;
    top:20px;
    left:20px;
    color:lightgray;
    background-color:inherit;
    border:none;
}
button:hover
{
    cursor:pointer;
}