$couleur-primaire: #FD2D01;
$couleur-secondaire: #FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite: #fd2b0173;

button {

}

.interraction_like {
    align-items: center;
    width:100%;
}
.like,.dislike
{
    display:inline;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    font-size: 80%
}


.blueLike,
.like:hover {
    color: blue;
}

.redLike,
.dislike:hover {
    color: red;
}

.dislike {
    transform: rotate(180deg);
}