$couleur-primaire: #FD2D01;
$couleur-secondaire: #FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite: #fd2b0173;


.contenant_commentaire
{
    margin-top:1%;
    border-radius:20px;
    border:1px solid $couleur-primaire;
}
.commentaire {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
    width: 95%;
    white-space: pre-wrap;
}

.enTeteCommentaire {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    border-bottom: $couleur-tertiaire 1px dotted
}

.auteur_heure {
    font-size: 80%;
    display: flex;
    align-items: center;
}

.nom_auteur {
    text-decoration: underline;
}

.avatar_auteur_commentaire {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}

.interractionCommentaire {
    button {
        border-radius: 100%;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border: 1px solid $couleur-tertiaire;
        background-color: inherit;
        color: $couleur-tertiaire;

        &:hover {
            background-color: white;
        }
    }
}

.contenuCommentaire {
    margin-top:2%;
    display: flex;
    width: 95%;
    margin: 8px;
}

.edition_commentaire {
    width: 95%;
    margin-top: 20px;
    height: 60px;
    font-size: 110%
}

.interraction_like {
    margin-top:2%;
    border-top:1px solid $couleur-tertiaire;
    display: flex;
    padding: 5px 18px;
    justify-content: space-between;
    align-items: center;
}

.like,
.dislike {
    color:$couleur-tertiaire;
    display: inline;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid $couleur-tertiaire;
    font-size: 80%
}

.blueLike,
.like:hover {
    color: blue;
}

.redLike,
.dislike:hover {
    color: red;
}

.dislike {
    transform: rotate(180deg);
}