#accueil {
    height: 100vh;
  
}

header {
    background-color: rgba(211, 211, 211, 0.73);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #FFD7D7;
    height: 10%;
    svg {
        margin: 0 10px;
        width: 60px;
        height: 60px;
        fill: #FD2D01;
        animation: 5s ease-in rotation infinite;
    }
}

.conteneur_connexion {
    align-items: center;
    display: flex;
    height: calc(90% - 3px);
    background-color: #4E5166;
}

.illustration_societe {
    width: 60%;
    height: 100%;
    border-right: 3px solid rgba(211, 211, 211, 0.73);
    @media screen and (max-width: 1440px) {
        width:50%;
    }
}

.illustration_societe img{
    object-fit: cover;
    max-width: 100%;
    height: calc(100%);
    filter: grayscale(1);
    opacity: 90%;
}

.menu_connexion {
    background-color: #FFD7D7;
    border: 3px solid #FD2D01;
    margin: auto;
    padding: 15px;
    width: 25%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    opacity: 0.8;
    @media screen and (max-width: 1440px) {
        width:40%;
    }
}

.connexion_inscription
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:10%;
    span{
        color:#4E5166;
        text-decoration: underline;
        &:hover
        {
            cursor:pointer;
        }
    }

}
h2,h3 {
    margin:0 auto;
}
form
{
    display:flex;
    width:98%;
    flex-direction: column;
    button
    {
        margin : 20px auto;
        height:50px;
        width:100%;
        border-radius:20px;
        border:3px solid lightgray;
    }
}
label
{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin:5px 0;
    color:#4E5166;
    font-weight:bold;
    input
    {
        width:60%;
        height:25px;
        border-radius:20px;
        border:1px solid  rgba(211, 211, 211, 0.73);
        background-color:lightgray;
        padding-left:1%;
    }
}
.erreur_formulaire
{
    color:red;
    margin:10px 0;
}
.contact_admin
{
    margin:0;
    border:1px solid #4E5166;
    text-align:center;
    font-style: italic;
    font-size:110%;
    padding:1%;
    border-radius:10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotateX(20deg);
        transform: rotatey(180deg);
        opacity: 0.5
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}