$couleur-primaire: #FD2D01;
$couleur-secondaire: #FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite: #fd2b0173;


.contenant_commentaire {
    background-color: $couleur-secondaire;
    width: 95%;
    margin-bottom: 20px;
}

.en_tete_bloc_commentaire {
    width: 100%;
    display: flex;
    color: $couleur-tertiaire;
    position: relative;
    align-items: center;
    justify-content: center;
}

.fermeture_commentaire {
    position: absolute;
    right: 10%;
    background-color: inherit;
    border: none;
    font-size: 20px;

    &:hover {
        color: white;
    }
}

.bloc_nouveau_commentaire {
    width: 95%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    textarea {
        width: 95%;
        height: 60px;
        margin-top: 1%;
        border-radius: 10px;
    }
}