$couleur-primaire: #FD2D01;
$couleur-secondaire: #FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite: #fd2b0173;


.contenantCommentaire {
    background-color: $couleur-secondaire;
    width: 95%;
    margin-bottom: 20px;
}

.enTeteCommentaire {
    width: 100%;
    display: flex;
    color: $couleur-tertiaire;
    position: relative;
    align-items: center;
    justify-content: center;
}

.fermeture_commentaire {
    position: absolute;
    right: 10%;
    background-color: inherit;
    border: none;
    font-size: 20px;

    &:hover {
        color: white;
    }
}

.bloc_nouveau_commentaire {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    textarea {
        width: 90%;
        height: 50px
    }

    .bouton_envoi_commentaire {
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        color: $couleur-tertiaire;
        border: 1px solid $couleur-tertiaire;
    }
}