$couleur-primaire:#FD2D01;
$couleur-secondaire:#FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite:#fd2b0173;

.liste_membre
{
    width:15%;
    background-color:$couleur-secondaire;
    border:3px solid $couleur-tertiaire;
    margin-top:30px;
    border-radius:20px;
    height:600px;
    padding-left:10px;
    text-align:center;
    position:relative;
    box-shadow:1px 1px 1px 1px rgba(255, 255, 255, 0.209);
}
.membre
{
    text-align:left;
    color:$couleur-tertiaire;
    font-size:110%;
    font-weight:bold;
    margin-left:20px;
}
.membre:hover
{
    text-decoration:underline;
    cursor:pointer;
}
.carte_visite
{
    border:1px solid lightblue;
    position:relative;
    left:98%;
    width:200px;
    height:300px;
    top:-150px;

    background-color:white;
    box-shadow:2px 2px 3px 3px gray;
    padding:10px;
    margin:10px;
    z-index:1;
}
.fermeture_modale:hover
{
cursor:pointer
}