$couleur-primaire:#FD2D01;
$couleur-secondaire:#FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite:#fd2b0173;

.conteneur_principal
{
    width:15%;
    background-color:$couleur-secondaire;
    border:3px solid $couleur-tertiaire;
    margin-top:30px;
    border-radius:20px;
    height:600px;
    padding-left:10px;
    text-align:center;
    position:relative;
    box-shadow:1px 1px 1px 1px rgba(255, 255, 255, 0.209);
}
.membre
{
    text-align:left;
    color:$couleur-tertiaire;
    font-size:110%;
    font-weight:bold;
    margin-left:20px;
}
.membre:hover
{
    text-decoration:underline;
    cursor:pointer;
}
.profil{
    margin-top:20px;
}
.fermeture_profil
{
    border:none;
    background-color:inherit; 
    position:absolute;
    right:10%;
    top:20px;
    font-size:20px;
}
.fermeture_profil:hover
{
cursor:pointer
}

.avatar_profil
{
    width:100px; 
    height:100px;
    object-fit:cover;
    border-radius:100%;
}
.nom_profil
{
    color:$couleur-tertiaire;
    text-decoration: underline;
    font-size:125%;
}
