h1,
h2 {
  padding: 0px;
  margin: 0px;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 62%;
}
label {
  margin-top: 2%;
}
.header-card {
  margin: 1%;
  padding-bottom: 20px;
}
.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
}
.overlay {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

}
.modale {
  display: flex;
  flex-direction: column;
  background-color: #4a4343;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  position: fixed;
  width: 50%;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 2px #6b6161;
  z-index:2;
}
span {
  color: lightblue;
  cursor: pointer;
}