$couleur-primaire: #FD2D01;
$couleur-secondaire: #FFd7d7;
$couleur-tertiaire : #4E5166;
$couleur-primaire-opacite: #fd2b0173;

//Conteneur principal
.conteneur_post {
    font-size: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.218);
    width: 95%;
    margin-bottom: 30px;
    color: #4E5166;
    border: 1px solid white;
}

//Date du post
.info_date_post {
    align-self: flex-start;
    margin: 5px;
    margin-left: 20px;
    color: $couleur-secondaire;
}

//Auteur + boutons d'actions
.en_tete_post {
    width: 100%;
    background-color: $couleur-secondaire;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.info_auteur_post {
    display: flex;
    align-items: center;
    margin: 0 20px;
    overflow:hidden;
}

.avatar_auteur_post {
    border-radius: 100%;
    object-fit: cover;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.action_post {
    margin-right: 20px;


    button {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $couleur-tertiaire;
        background-color: inherit;
        color: $couleur-tertiaire;

        &:hover {
            background-color: white;
        }
    }

}

//titre du message
.titre_post_utilisateur {
    background-color: $couleur-primaire-opacite;
    width: calc(100% - 2px);
    height: 30px;
    margin: 0;
    color: #363846;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

//input de modification du titre
.modification_titre_post {
    width: 80%;
    border: none;
    background-color: lightgray;
    height: 25px;
    text-align: center;
}

//partie de modification du corps du message..
.edition_message {
    width: 95%;
    margin-bottom: 20px;
    position: relative;

    textarea {
        border: none;
        background-color: lightgray;
        width: 100%;
        height: 200px;
        font-size: 110%;
    }

    .envoi_image_cache {
        display: none;
    }

    .bouton_envoi {
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .bouton_envoi_image {
        display: flex;
        border: none;
        border-radius: 100%;
        width: 30px;
        height: 30px;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: #fe765f;
        }
    }
}

.send_block {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//Partie contenant l'image
.conteneur_principal_image {

    position: relative;
    width: fit-content;
    max-width: 100%;
    margin: 25px auto;
}

//Placement du bouton de suppression en haut à droite de l'image
.supprimer_image {
    position: absolute;
    top: 4%;
    right: 5%;
    display: none;
    width: 30px;
    height: 30px;

}
figure
{
    margin:10px
}
.conteneur_principal_image:hover .supprimer_image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: white;
    border-radius: 100%;
    border: 1px solid black;

}

.image_post {
    max-width: 100%;
    object-fit: cover;
}

//Corps principal du message
.corpsMessage {

    white-space: pre-wrap;
    word-break: break-all;
    color: white;
}

//le footer contient les boutons like et le bouton permettant d'afficher des commentaires
.footer_post {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    button {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: none;
        font-size: 80%
    }

}

.like,
.dislike {
    width: 30px;
    height: 30px;
    display: flex;

}

.blueLike,
.like:hover {
    color: blue;
}

.redLike,
.dislike:hover {
    color: red;
}

.dislike {
    transform: rotate(180deg);
}